<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout1</title>
<style>

.container {
  width: 80%px;
  height: 300px;
  margin: 0 auto;
    
}

header {
  height: 30px;  
  background-color: rgb(243, 213, 158);
  text-align: center;
  border: 1px solid black;
  padding-top: 10px;
  
}

section {
  height: 240px;
  background-color: rgb(243, 213, 158);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 10px;
}

footer {
  background-color: rgb(243, 213, 158);
  text-align: center;
  border: 1px solid black;
  height: 30px;
}
</style>
</head>
<body>
<div class="container">
  <header>
    Header
  </header>
  <section>
    Section 
  </section>
  <footer>
    Footer
  </footer>
</div>
</body>
</html>