*{
    padding: 0px auto;
    margin: 0px auto;
}
.container{
    width: 960px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    justify-items: center;
}
header{
    height: 60px;
    background-image: ;
}
nav{
    height: 40px;
    background-color: #eac54d ;
}