.container{
    background-color: aqua;
    height: 1000px;
   
}
.header{
    background-color: aquamarine;
    height: 50px;
}
.section{
    background-color: brown;
}
.footer{
    background-color: blue;
    height: 50px;
}