
.container {
    width: 80%;
    margin: 0 auto;
    background-image: url('../img/background.jpg');
}

.header {
    padding: 20px;
}

.content {
    display: flex;
}

.left-column {
    width: 20%;
    padding: 20px;
    
}

.right-column {
    width: 70%;
    padding: 20px;
    border-left:3px solid green;
}

.footer {
    padding: 20px;
    text-align: center;
}

.left-column ul{
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    margin-top: -20px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
 a {
    line-height: 40px;
    text-decoration: none; 
    color: rgb(219, 63, 149); 
  }
 .text{
    color: aliceblue;
    width: 80%;
 } 
 .text1{
    color: aliceblue;
 }
 
 h2{
    letter-spacing: 10px;
    background-color: green;
    color: aliceblue;
    width: 85%;
    padding-top: -30px;
 }
 .pic1{
    height: 230px;
    position: absolute;
    right: 150px;
    top: 250px;
    margin-left: 10px;

 }
 h3{
    letter-spacing: 10px;
    background-color: green;
    color: aliceblue;
    width: 65%;
 }
  li{
    color: aliceblue;
 }
.footer p{
    color: aliceblue;
} 